/* Body */

body {
  font-family: 'Lato', sans-serif;
  background: #fff;
}

/* Menú */

header .menu {
  background: #1d2731;
  border: 0px;
}

header .menu a {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

header .menu a:hover {
  background: #0b3c5d;
}

header .menu a i {
  margin-right: 20px;
}

/* Top */

header .top {
  background-image: url("../img/fondo-top.jpg");
  background-color: rgb(20, 20, 20);
  background-blend-mode: soft-light;
  color: #fff;
  border: 0px;
  background-position: center;
}

header.top .col {
  padding: 0;
  min-height: 50vh;
  max-height: 50vh;
  max-width: 100%;
  min-width: 100%;
}

header .top .col .imagen {
  padding-top: 20px;
  margin-top: 50px;
}

header .top .col .imagen img {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 2px solid #3e3d3d;
  margin: 0 auto;
}

header .top .col .texto {
  padding-top: 10px;
}

header .top .col .profesion a {
  color: #fff;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

header .top .col .flecha a i {
  color: #fff;
  font-size: 35px;
  padding-top: 20px;
  position: relative;
  -webkit-animation-name: rebote;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse;
  /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

@keyframes rebote {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: -10px;
  }
  75% {
    left: 0px;
    top: -10px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

/* Main */

/* Acerca de */

main .acerca {
  background: #fff;
  height: auto;
  padding: 30px 10px 30px 10px;
}

main .acerca .bio {
  margin: 50px 0;
}

main .acerca .bio .texto {
  padding: 10px;
  text-align: justify;
}

main .acerca .bio img {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  width: 360px;
}

main .acerca .bio .titulo {
  padding-left: : 10px;
  text-align: center;
}

main .acerca .skils {
  margin-left: 25%;
}

main .acerca .skils i {
  font-size: 30px;
  text-align: center;
  color: #328cc1;
}

/* En el tiempo */

main .info-edu {
  background: #f2f2f2;
  height: auto;
  padding: 50px;
}

/* Educación */

main .info-edu .info-es {
  border-radius: 7px;
  border: 1px solid #c1c1c1;
  padding-bottom: : 20px;
}

/* Portafolio */

main .info-porta {
  padding: 50px;
  background: #fff;
}

/* Blog */

main .info-blog {
  padding: 50px;
  background: #f2f2f2;
}

/* Contacto */

main .info-contacto {
  padding: 50px;
  background: #fff;
}

/* Footer */

footer .info-footer {
  padding: 50px;
  background: #1d2731;
  color: #fff;
}